{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
	<div class="alert alert-success" role="alert">
		<h3>Welcome {{ user.username }}!</h3>
		<a href="{% url 'logout' %}">Logout</a>

	</div>
{% else %}
	<div class="alert alert-success" role="alert">
		<h3>Welcome!</h3>
	</div>
{% endif %}

<div>
	<p>How to use TĀK to track your project efforts:</p>
	<ol>
		<li>Add route to database</li>
		<li>Add route to projects</li>
		<li>Add session to project</li>
		<li>View your projects!</li>
	</ol>
</div>

{% endblock %}
