{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<header>
		<div class="ms-4">
			<div class="bg-light">
				<h3 class="p-3 ms-2">Login</h3>
			</div>
		</div>	
	</header>

	<div class="ms-4 mt-2 me-5">
		<form method="post">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" class="btn btn-primary mt-3">Login</button>
		</form>
	</div>

	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}
