{% extends "base.html" %}

{% block content %}

<header>
	<div class="ms-4">
		<div class="bg-light">
			<h3 class="p-3 ms-2">Login</h3>
		</div>
	</div>	
</header>

<div class="ms-4 mt-2 me-5">
	<form method="post">
		{% csrf_token %}

		{% for field in form %}
			<div class="form-floating">
				<p>{{ field.label }}: <br> {{ field }}</p> 

				{% for error in field.errors %}
					<small style="color: red">{{ error }}</small>
				{% endfor %}
			</div>
		{% endfor %}
		<div>password must be 8 characters, with special and uppercase</div>

		<button type="submit" class="btn btn-primary mt-3">Login</button>
	</form>
	<p>{{ error }}</p>
</div>

{% endblock %}
