{% extends "base.html" %}

{% block content %}

<header>
	<div class="ms-4 w-50">
		<div class="bg-light">
			<h3 class="p-3 ms-2">Register</h3>
		</div>
	</div>	
</header>

<div class="ms-4 mt-2 me-5 w-50">
	<form action="" method="POST">
		{% csrf_token %}

		{% for field in form %}
			<div>
				<p>{{ field.label }}: {{ field }}</p> 

				{% for error in field.errors %}
					<small style="color: red">{{ error }}</small>
				{% endfor %}
			</div>
		{% endfor %}
		<button type="submit" class="btn btn-primary">Register</button>
	</form>
</div>

{% endblock %}
