<!doctype html>
<html lang="en">

<head>
  <title>TAK</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<div class="container-fluid">    
				<button
					class="navbar-toggler"
					type="button"
					data-mdb-toggle="collapse"
					data-mdb-target="#basenavbar"
					aria-controls="basenavbar"
					aria-expanded="false"
					aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				
				<div class="collapse navbar-collapse" id="basenavbar">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item active">
							<a class="nav-link" aria-current="page" href="{% url 'login' %}">Login</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" aria-current="page" href="{% url 'register' %}">Register</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
	
</body>

</html>
